.chef-banner{
    background: url('../../assets/banner/63629535_7395a8.jpg'), linear-gradient(150deg, rgba(113, 15, 15, 0.674), rgba(9, 2, 44, 0.856));
    background-blend-mode: multiply;
    min-height: 80vh;
}
.card-container{
    opacity: 90%;
    color: black;
}
.recipe-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
@media screen and (max-width: 560px) {
    .recipe-container {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .banner-img {
        width: 100%;
    }
}
