.service-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

@media screen and (max-width: 560px) {
    .service-container{
        grid-template-columns: 1fr;
    }
}